body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.array-bar {
     width: 30px;
    background: black;
    margin: 5px;
}

.array-container {
    display: flex;
    align-items: flex-end;
    gap: 10px;
    margin-top: 30px;
}

.stack-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 5px;
    margin-top: 30px;
}

.stack-item {
    width: 80px;
    height: 40px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-label {
    margin-left: 10px;
    font-size: 12px;
}

.queue-container {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 30px;
}

.queue-item {
    width: 60px;
    height: 40px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.queue-label {
    font-weight: bold;
}

.linked-list-container {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 30px;
}

.linked-list-node {
    width: 60px;
    height: 40px;
    border: 2px solid black;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.arrow {
    font-weight: bold;
}

.head-label,
.null-label {
    font-weight: bold;
}

.tree-visualizer {
    position: relative;
    margin-top: 20px;
}

.tree-lines {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.tree-node {
    position: absolute;

    width: 50px;
    height: 50px;

    border: 2px solid black;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    transform: translateX(-50%);

    z-index: 2;
}